{% extends 'base.html' %}

{% load static %}
{% block content %}
    {% if user.is_authenticated %}
      <div id="frame">
        <div class="content">
          <div class="messages" id="messages">
            <ul id="chat-log">
            </ul>
          </div>
          <div class="message-input">
            <div class="wrap">
            <input id="chat-message-input" type="text" placeholder="Write your message..." />
            <button id="chat-message-submit" class="submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
            </div>
          </div>
        </div>
      </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
            var roomName = {{ room_name_json }};
            var username = {{ username }};
            var chatSocket = new ReconnectingWebSocket(
                'ws://' + window.location.host +
                '/ws/chat/' + roomName + '/');
            chatSocket.onopen = function(e) {

              fetchMessages();

            };
            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                if (data['command'] === 'messages') {
                  for (let i=0; i<data['messages'].length; i++) {
                    createMessage(data['messages'][i]);
                  }
                } else if (data['command'] === 'new_message'){
                  createMessage(data['message']);
                  var elmnt = document.getElementById("messages");
                  elmnt.scrollTop = elmnt.scrollHeight;
                }
            };
            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {
                    document.querySelector('#chat-message-submit').click();
                }
            };
            document.querySelector('#chat-message-submit').onclick = function(e) {
                var messageInputDom = document.getElementById('chat-message-input');
                var message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'command': 'new_message',
                    'message': message,
                    'from': username
                }));
                messageInputDom.value = '';
            };
            function fetchMessages() {
              chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
            }
            function createMessage(data) {
              var author = data['author'];
              var msgListTag = document.createElement('li');
              var authorListTag = document.createElement('li');
              var authorPTag = document.createElement('p');
              var pTag = document.createElement('p');

              pTag.textContent = data.content;
              authorPTag.textContent = author + ':';

              if (author === username) {
                msgListTag.className = 'sent';
              } else {
                msgListTag.className = 'replies';
                authorListTag.className = 'author_replies';
                authorListTag.appendChild(authorPTag);
                document.querySelector('#chat-log').appendChild(authorListTag);
              }
              msgListTag.appendChild(pTag);
              document.querySelector('#chat-log').appendChild(msgListTag);
              {#function scrollToBottom(class_name){#}
              {#     var div = document.getElementsByClassName(class_name);#}
              {#     div.scrollTop = div.scrollHeight - div.clientHeight;#}
              {#  }#}
              {#  scrollToBottom(messages)#}
            }

    </script>
    {% else %}
        <h1>You need to login first</h1>
    {% endif %}
{% endblock %}